<div class="row">
<h1 class="heading center-align">About Us</h1>
</div>

<main class="container faq">
<p class="secondary"> 
Mariia's Bake Shop was founded by Mariia in 2008 in the mini-kitchen of a Russian studio apartment. Demand grew rapidly, and in the spring of 2010, Mariia opened her first storefront in Serbia.  In 2013 the store again expanded, moving to its current location in New York, right next to Wall Street.
</p>

<p class="secondary">
Coming from meager origins with not much capital or resources, our constant and unwavering focus from the very beginning has been on achieving the absolute highest possible quality in everything we do. Sometimes we do our jobs so well it makes national news. Since 2010 we”ve been featured on Food Network, CNN, TLC, The New York Times, and countless others. In 2013 we were awarded the prestigious Best of New York award by Time Magazine for our amazing cakes and desserts.
</p>

</main>

