  <div class="container">
      <div class="firstDiv">
        <div class="main-image"></div>
      </div>


    <div class="secondDiv">

      <h1 class="aboutBakeryTitile"> Welcome <br> to Magnolia Bakery </h1>
      <p class="aboutBakery"> Here at The Cupcake Shoppe we've been baking from scratch each and every morning using only the highest quality, freshest ingredients available for over 10 years! Our bakers prepare 12-15 specialty cupcakes and other creative confections like breakfast pastries, croissants, brownies, seasonal bars & cookies, ice cream sandwiches, homemade marshmallows and more. We also offer some gluten free options in house and a full line of coffee and espresso drinks for you to enjoy in the shop or for carry out.
    Our daily menu features a wide variety of cupcakes and scratch baked confections in many traditional and modern flavors. We offer a rotation of seasonal baked goods, gift items, and feature a new flavor each week! Sweet delicacies and special occasion cakes for any event are available by custom order so give us a call and let us help with your celebration!
      </p>

    </div>
  </div>

<!-- ABOUT BAKERY: -->


<!-- FOLLOW @US ON INSTAGRAM -->
<div class="instagram row">
  <h3 class="instagramTitle"> Follow us on Instagram: </h3>

  <div class="instagramDiv insta1 col 2"> </div>
  <div class="instagramDiv insta2 col 2"> </div>
  <div class="instagramDiv insta3 col 2"> </div>
  <div class="instagramDiv insta4 col 2"> </div>
  <div class="instagramDiv insta5 col 2"> </div>
</div>

  <body>
